html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// CODE

.token::selection {
  color: rgb(230, 209, 209);
  background: rgb(148, 54, 82);
}

.token-line {
  display: flex;
  align-items: center;
  height: 24px;
}

.openCode .token-line:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgb(203, 207, 214);
}

.highlightedLine {
  background-color: rgba(83, 155, 16, 0.356);
}

.lineNumber {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: right;
  padding-right: 16px;
  padding-left: 16px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: inherit;
  color: rgb(161, 167, 179);
  user-select: none;
  opacity: 0.6;
}

.lineContent {
  display: flex;
  padding-left: 16px;
}

pre[class*="language-"] {
  margin: 0 !important;
  border: 0 !important;
  text-align: left;
  padding: 0;
  overflow: scroll;
  min-height: 240px;
}

.expandWrapper {
  position: relative;
}

.expandBtn {
  position: absolute !important;
  right: 46%;
  bottom: -15px;
}

.complexOverlay {
  font-size: 7pt;
}

.refAvailable {
  text-decoration: underline;
}

.refAvailable:hover {
  cursor: pointer;
}

.chart {
  height: 35vh;
  width: 100%;
  transition: 0.3s;
}
