html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.preTruncated {
  height: 300px;
}

pre[class*="language-"] {
  margin: 0 !important;
  border: 0 im !important;
}

// INSTANT SEARCH

.hit {
  display: flex;
  align-items: center;
}

.hit-actions {
  display: flex;
}

.hit-content {
  padding: 0px 10px;
}

.hit-picture img {
  width: 80px;
  height: 80px;
}

.hit-type {
  color: #888888;
  font-size: 13px;
}
